# Dependencies
/node_modules

# Build output
/.next/
/out/

# Local Environment Variables - IMPORTANT!
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Turbo
.turbo

# Other
.DS_Store